*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    margin-left: 10px;
    margin-right: 10px;
    height:100px;
    background-color:rgb(202, 146, 243);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 10px 8px 10px #f7dddd;
}

header span{
    padding-right: 80px;
    font-style: oblique;
    font-size: 40px;
    color:crimson
}

ol{
    display:flex;
    flex-direction: row;
    list-style: none;
}

li{
    font-size: 25px;
    margin-left: 50px;
}

article{
    margin-top:1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color:lightgrey;
    max-width: 1024px;
    box-shadow: 1px 5px 18px 1px #8ffc46;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    padding-top: 1rem;
    padding-bottom: 1rem;  
}

p{
    font-size: 16px;
    color:black
}

article h1{
    font-size: 36px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: underline;
}

footer{
    height:6rem;
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 63, 63);
    color:beige;
    padding-left: 20px;
    padding-right: 20px;
}

footer h5{
    font-size: 20px;
}